<ion-view view-title="Login" align-title="left">
    <ion-content  ng-controller="LoginCtrl" style="background: 0% 0% / cover rgba(158, 158, 158, 0.48);
}; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h2>Blood Bank</h2>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text" ng-model="maill" id="maill"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="pass"></ion-md-input>
        </div>
        <div class="padding">
            <button  class="button button-full button-assertive ink" ng-click="test()">Login</button>
			 <button ui-sref="app.signup" class="button button-full button-calm ink">Sign UP</button>
        </div>

    </ion-content>
	
</ion-view>
