<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-android-add-circle"></i> Donate
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-waterdrop"></i> Take
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-gear-a"></i> Settings
            </a>
        </div>
        
    </ion-content>
</ion-view>
