<ion-view view-title="Login" align-title="left">
 <div class="row responsive-sm padding remvoeBP">

    <ion-content>
               <div class="list">
                          <label class="item item-input item-floating-label">
                            <span class="input-label">First Name</span>
                            <input type="text" placeholder="First Name" ng-model="fname">
                          </label>

                          <label class="item item-input item-floating-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" placeholder="Last Name" ng-model="lname">
                          </label>

                          <label class="item item-input item-floating-label">
                            <span class="input-label">City</span>
                            <input type="text" placeholder="City" ng-model="city">
                          </label>

                          <label class="item item-input item-floating-label">
                            <span class="input-label">Tel Number</span>
                            <input type="text" placeholder="Tel Number" ng-model="telnumber">
                          </label>
<br/>
                          <div class="list">

                                        <label class="item item-input item-select">
                                          <div class="input-label">
                                            Blood Type
                                          </div>
                                          <select ng-model="bloodtype">
                                            <option>O+</option>
                                            <option selected>O-</option>
                                            <option>A+</option>
                                            <option>A-</option>
                                            <option>B+</option>
                                            <option>B-</option>
                                            <option>AB+</option>
                                            <option>AB-</option>
                                          </select>
                                        </label>

                          </div>

                           <label class="item item-input item-floating-label">

                            <span class="input-label">Birthday</span>
                            <input type="date" placeholder="12/12/1993">
                          </label>


                             <ul class="list">

                          <li class="item item-toggle">
                             Smoker
                             <label class="toggle toggle-assertive">
                               <input type="checkbox">
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                             </label>
                          </li>

                          .                          <li class="item item-toggle">
                             Alcoholic
                             <label class="toggle toggle-assertive">
                               <input type="checkbox">
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                             </label>
                          </li>

                        </ul>



              </div>

               <label class="item item-input item-floating-label">

                            <span class="input-label">Mail</span>
                            <input type="text" placeholder="Mail" ng-model="mail">
                          </label>

                           <label class="item item-input item-floating-label">

                            <span class="input-label">Password</span>
                            <input type="password" placeholder="Password" ng-model="pwd">
                          </label>

                              <button  ng-click="ajouter()"class="button button-block button-positive">
                                Submit
                              </button>
                                    
    </ion-content>
    </div>
</ion-view>
